## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
entero=6
print(entero)

6

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(entero)

int

4) Crear una variable que contenga tu nombre

In [4]:
nombre="Nicolas"

5) Crear una variable que contenga un número complejo

In [5]:
complejo=3+2j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
Pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
var1=True
var2="True"
#Una variable es bool y al otra es Str (string)

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [9]:
print(type(var1))
print(type(var2))

<class 'bool'>
<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
suma= 3+8.5

11) Realizar una operación de suma de números complejos

In [11]:
com1= 3+5j
com2= 6+9j
com1 + com2

(9+14j)

12) Realizar una operación de suma de un número real y otro complejo

In [12]:
8+com1

(11+5j)

13) Realizar una operación de multiplicación

In [13]:
5*9

45

14) Mostrar el resultado de elevar 2 a la octava potencia

In [14]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [15]:
cociente=27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [16]:
27//4

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [17]:
27%4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [18]:
6*4+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [19]:
palabra1= "mi "
palabra2= "vida"
palabra1+palabra2

'mi vida'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [20]:
"2"==2
#No es igual por que son diferentes tipos de datos. Unos es Str(string) y otro es Int(entero)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [21]:
int("2")== 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [22]:
a= float("3,8")
#No se puede convertir un dato string a float

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [ ]:
x=3
x-=1
print(x)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [ ]:
1<<2
# El resultado es cuatro porque lo que  esta haciendo el comando es tranferir el numero 1 dos bits a la izquierda, quedando en formato binario el numero 0100 (4)

# El sistema de numeracion binaria consta de dos numeros, el 1 y el cero, a cada digito se lo llama bit, los numeros son esctiros, teniendo en cuenta desde el primer digito de la derecha, haciendo las pontencias de cada digito con respecto a la pocicion que ocupe, es decier, si es el primero contando desde la izquierda se eleva el numero a la primera potencia, si es el segundo de eleva a la segunda potencia y asi sucesivamente

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
2+"2"
# No se pueden sumar un tipo de dato Int(entero) on uno Str(string)
# Dependiendo del tipo de dato es el resultado arrojado, como se muestra abajo

In [ ]:
2+2

4

In [ ]:
2.0+2.0

4.0

In [ ]:
"2"+"2"

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [ ]:
risa= "Ja "
3*risa

'Ja Ja Ja '